<div class="form-inline clearfix">
  <div class="nested-fields">
    <%= f.input :name, input_html: { class: 'form-control' } %>
    <div class="links"></div>
    <%= link_to_remove_association 'Remove Ingredient', f, class: "btn btn-danger remove-button" %>
  </div>
</div>
