/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #F5F5F5;
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

@mixin box-shadow {
	box-shadow: 7px 7px 10px #777;
  -webkit-box-shadow: 7px 7px 10px #777; // Chrome and Safari
	-moz-box-shadow: 7px 7px 10px #777; // Firefox
  -o-transition: 7px 7px 10px #777; // Opera
}

// define a global color
$green: #006400;

body {
	background: #EBEEF3;
	background-color: #EEE8AA; //palegoldenrod
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20 px;
  padding-top: 10 px;
  padding-right: 15px;
}

.main-content {
	padding: 0 0 50px 0;
}

.alert {
	@include box-shadow;
	background: #FFF;
	border: 1px solid transparent;
	border-radius: 5px;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 15px;
}

.navbar {
	@include box-shadow;
	border: none;
	margin-bottom: 50px;
	.navbar-brand {
		font-size: 25px;
		font-weight: bold;
		letter-spacing: -1px;
		text-decoration: none;
		text-transform: uppercase;
		a {
			color: $green;
			text-decoration: none;
		}
    &:hover {
      transform: scale(1.06);
    }
	}
}

.recipe {
	@include box-shadow;
  background: #F5F5F5; // whitesmoke;
	border-radius: 5px;
	margin-bottom: 40px;
	.image-wrapper {
		border-radius: 5px 5px 0 0;
		max-width: 100%;
		overflow: hidden;
  }
	img {
		border-radius: 5px 5px 0 0;
		width: 100%;
		-webkit-transition: all .4s ease-out; // Chrome and Safari
		-moz-transition: all .4s ease-out; // Firefox
		-o-transition: all .4s ease-out; // Opera
		transition: all .4s ease-out;
		&:hover {
      // transform: scale(1.075); supposed to grow the image slightly
			transform: rotateY(180deg);
		}
	}
	h2 {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.5;
		margin: 0;
		padding: 15px 5%;
    text-shadow: 5px 5px 10px #aaa;
    //text-shadow: 0.5px 0.5px 0.5px #999;
		a {
			color: $green;
		}
	}
}

#h2 {
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 15px 5%;
  // text-shadow: 5px 5px 10px #aaa;
  // text-shadow: 1px 1px 1px #999;
}

#recipe-top {
	margin-bottom: 50px;
}

#recipe-info, #ingredients, #directions {
	@include box-shadow;
  background:	#F5F5F5; // whitesmoke
	border-radius: 5px;
	min-height: 300px;
	padding: 1em 5%;
}

.recipe-img {
	@include box-shadow;
	border-radius: 5px;
	max-width: 100%;
}

#recipe-info {
	h1 {
		color: $green;
		font-size: 36px;
		font-weight: normal;
		text-shadow: 1px 1px 1px #999;
	}
	.description {
		color: #8A8A8A;
		font-size: 20px;
	}
}

#recipe_title {
	width: 100%;
}

#recipe_description {
	height: 70px;
	width: 100%; 
}

#recipe_image {
	height: 100%;
	width: 100%
}

#ingredients, #directions {
	margin-bottom: 50px;
	margin-top: 9px;
	ul, ol {
		padding-left: 18px;
		li {
			border-bottom: 1px solid #AAA; // separator between each ingredient/direction
			padding: 1em 0;
		}
	}
}

p {
	  font-size: 15px;
    white-space: pre-line; // makes prep & cook times appear on separate lines
}

.panel_body {
  .form-inline {
		margin-top: 15px;
	}
	.form-input {
		float: left;
		width: 65% !important;
	}
	.form-button {
		float: left;
		margin-left: 5%;
		width: 30% !important;
	}
	.add-button {
		margin-top: 25px;
	}
}

.form-inline .form-control {
	  display: inline-block;
    width: 100%;
    vertical-align: middle;
}
